.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ffffff44;
    }
    .sidenav{
        width: 23vw;
        height: 100%;
        background-color: var(--sideNavColor);
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #ffffff44;
        }
        .logoDiv{
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-family: Arial;
            margin: 1.8rem auto;
            img{
                width: 70%;
                height: 70%;
            }
            h1{
                font-size: 1.8rem;
                margin: 1rem 0;
            }
        }
        .sideOption{
            color: white;
            font-family: Arial;
            padding: 1.3rem 2.6rem;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            margin: .5rem 0;
            cursor: pointer;
            transition: .3s;
            text-decoration: none;
            i{
                margin-right: 1rem;
                font-size: 1.7rem;
            }
            &:hover{
                background-color: var(--hoverInDark);
            }
        }
    }

    .mainContainer{
        width: 77vw;
        height: 100%;
        background-color: var(--lightModeBg);
        .header{
            padding: .5rem 1.3rem;
            box-shadow: 0 0 5px 1px #44444422;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            form{
                display: flex;
                input{
                    width: 15rem;
                    outline: 0;
                    padding: 10px;
                    font-size: 16px;
                    font-family: Arial;
                    font-weight: 200;
                    margin: 0 5px;
                    border: 0;
                    background-color: var(--lightModeBg);
                }
                button{
                    color: white;
                    background-color: var(--colorMain);
                    border: 0;
                    border-radius: 3px;
                    padding: 5px 10px;
                    font-family: Arial;
                }
            }
            .rightDiv{
                display: flex;
                align-items: center;
                .imageBox{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .circle{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color: var(--lightModeBg);
                    }
                    i{
                        padding: 0;
                    }
                }
                p{
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: var(--fontColor);
                    padding: 0 10px;
                }
                i{
                    color: var(--fontColor);
                    margin: 0 5px;
                    font-size: 1.4rem;
                    padding: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .mainContent{
            height: calc(100vh - 108px);
            background-color: transparent;
        }
        .dashboard{
            padding: 1rem 3rem;
            .welcome{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .welcomeMsg{
                    background-color: white;
                    padding: .2rem 1rem;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    margin: .5rem 0;
                    .message{
                        p{
                            font-family: Arial;
                            font-size: 1.3rem;
                            font-weight: 600;
                            line-height: 1.5;
                            span{
                                font-weight: normal;
                                font-size: 1rem;
                            }
                        }
                        .viewAll{
                            text-decoration: none;
                            color: black;
                            background-color: #ffcc00;
                            text-align: center;
                            padding: .7rem 1.5rem;
                            font-family: Arial;
                            margin: 1rem 0;
                            border-radius: 5px;
                            font-weight: 600;
                        }
                    }
                    .image{
                        width: 8rem;
                        height: 8rem;
                        margin: 0 0 0 2rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .create{
                    color: #ffcc00;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1.5rem 6rem;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 2px dashed #ffcc00;
                    margin: .5rem 0;
                    i{
                        padding: 15px;
                        border: 1.5px solid #ffcc00;
                        display: flex;
                        align-items: center;
                        border-radius: 50%;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}