.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    .sideNav{
        width: 23vw;
        height: 100%;
        background-color: var(--sideNavColor);
    }
    .mainContainer{
        width: 77vw;
        height: 100%;
        background-color: var(--lightModeBg);
        .header{
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 5px 1px #44444422;
        }
    }
}