:root {
  --colorMain: #292929;
  --fontColor: #545454;
  --authBg: #171717;
  --sideNavColor: #242C39;
  --lightModeBg: #F4F5FF;
  --hoverInDark: #424b58aa;
  --totalBlue: #6492ED;
  --yellow: #ffcc00;
  --completePink: #C3377D;
  --dashGray: #666666;
  --dashGreen: #1BC100;
  --dashPurple: #7932D4;
  --darkerBlue: #0093C1;
}

* {
  padding: 0;
  margin: 0;
  color: light;
}

.openByHeight {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 2px 1px 1px rgba(237, 237, 237, 0.6666666667);
}

.closeByHeight {
  height: 0;
}

.selected {
  border-left: 4px solid white;
  background-color: var(--hoverInDark);
}

.darkerBlue {
  background-color: var(--darkerBlue);
}

.dashPurple {
  background-color: var(--dashPurple);
}

.dashGreen {
  background-color: var(--dashGreen);
}

.dashGray {
  background-color: var(--dashGray);
}

.completePink {
  background-color: var(--completePink);
}

.blue {
  background-color: var(--totalBlue);
}

.yellow {
  background-color: var(--yellow);
}

body {
  font-size: 16px;
  font-family: Arial;
}

.homeTopper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.0666666667);
}
.homeTopper h2 {
  color: var(--fontColor);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.homeTopper h2 img {
  margin: 0 0.3rem;
  height: 70%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.homeTopper ul {
  list-style-type: none;
}
.homeTopper ul li {
  color: var(--fontColor);
  float: left;
  padding: 0 1rem;
  font-weight: 700;
  margin: auto 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeTopper ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--fontColor);
  transition: 0.2s;
}
.homeTopper ul li:hover::after {
  width: 100%;
}
.homeTopper .actionButtons {
  padding: 0 0.5rem;
}
.homeTopper .actionButtons .buttons {
  margin: 0 0.5rem;
  padding: 7px 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}
.homeTopper .actionButtons .loginbtn {
  color: white;
  background-color: var(--colorMain);
  border: 1px solid var(--colorMain);
}
.homeTopper .actionButtons .signupbtn {
  background-color: transparent;
  border: 1px solid var(--colorMain);
}
.homeTopper .navBtn {
  display: none;
  padding: 0.3rem;
  font-size: 1.5rem;
  position: relative;
}
.homeTopper .navBtn .dropdown {
  position: absolute;
  width: 15rem;
  top: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.homeTopper .navBtn .dropdown p {
  padding: 1rem 0.8rem;
  font-size: 1.2rem;
}
.homeTopper .navBtn .dropdown p:hover {
  background-color: var(--lightModeBg);
}
.homeTopper .navBtn .dropdown button {
  margin: 0 0.8rem;
  padding: 7px 10px;
  border: 0;
  border-radius: 3px;
  font-size: 17px;
}
.homeTopper .navBtn .dropdown .login {
  color: white;
  background-color: var(--colorMain);
  border: 1px solid var(--colorMain);
}
.homeTopper .navBtn .dropdown .signup {
  background-color: transparent;
  border: 1px solid var(--colorMain);
}

.introSection {
  display: flex;
}
.introSection .introContent {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--colorMain);
  font-family: tahoma;
  padding: 0 2.5rem;
}
.introSection .left {
  width: 60vw;
}
.introSection .left h1 {
  font-size: 3.5rem;
  padding: 1.5rem 0;
  font-family: Arial;
}
.introSection .left p {
  font-size: 16px;
  padding: 1.5rem 0;
  font-family: Arial;
}
.introSection .left button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 20px;
  font-family: Arial;
  color: white;
  background-color: var(--colorMain);
  border: 0;
  border-radius: 3px;
  font-size: 17px;
  margin: 0.4rem 0;
  cursor: pointer;
}
.introSection .right {
  width: 40vw;
  background-image: url("../../right1.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutSection {
  display: flex;
}
.aboutSection .aboutContent {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  font-family: Arial;
  color: var(--colorMain);
}
.aboutSection .left {
  width: 45vw;
  background-image: url("../../about-left.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.aboutSection .right {
  width: 55vw;
}
.aboutSection .right h2, .aboutSection .right p {
  padding: 2rem 0;
}
.aboutSection .right h2 {
  font-weight: 700;
  line-height: 36.8px;
}
.aboutSection .right p {
  width: 88%;
  font-weight: 400;
}

.supportSection {
  margin: 1rem 0;
  display: flex;
}
.supportSection .supportContent {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supportSection .right {
  background-image: url("../../support-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45vw;
}
.supportSection .left {
  width: 55vw;
}
.supportSection .left form {
  width: 40%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.supportSection .left form input {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  outline: 0;
  border: 0;
  background-color: #ededed;
  color: var(--colorMain);
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
}
.supportSection .left form textarea {
  width: 100%;
  padding: 10px;
  height: 10rem;
  font-size: 15px;
  font-weight: 700;
  outline: 0;
  border: 0;
  background-color: #ededed;
  font-family: Arial;
}
.supportSection .left form button {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 0;
  background-color: var(--colorMain);
  color: white;
  font-family: Arial;
  cursor: pointer;
  border-radius: 3px;
}

.foot {
  background-color: var(--colorMain);
}
.foot p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  margin: 0 auto;
  color: white;
  font-family: Arial;
  font-size: 14px;
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--authBg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer .container {
  background-color: white;
  width: 50rem;
  max-width: 95%;
  height: 30rem;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.loginContainer .container .left {
  width: 40%;
  height: 100%;
  background-color: var(--colorMain);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial;
}
.loginContainer .container .left img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 1rem;
}
.loginContainer .container .right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  justify-content: center;
  padding: 0 2rem;
}
.loginContainer .container .right h2 {
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
}
.loginContainer .container .right form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.loginContainer .container .right form input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #767676;
  padding: 10px;
  width: 100%;
  margin: 1.3rem 0;
  font-family: Arial;
  font-weight: 700;
  color: var(--colorMain);
  font-size: 15px;
}
.loginContainer .container .right form button {
  color: white;
  background-color: var(--colorMain);
  padding: 10px 0;
  width: 98%;
  margin: 1rem;
  border: 0;
  outline: 0;
  font-family: Arial;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.loginContainer .container .right form p {
  font-size: 14px;
  font-weight: 400;
}
.loginContainer .container .right form p span {
  color: blue;
  cursor: pointer;
}

.signupContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--authBg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupContainer .container {
  width: 50rem;
  max-width: 95%;
  height: 30rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.signupContainer .container .left {
  width: 60%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signupContainer .container .left h2 {
  width: 80%;
  margin: 0 auto;
}
.signupContainer .container .left form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.signupContainer .container .left form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #767676;
  margin: 0.7rem 0;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  outline: 0;
}
.signupContainer .container .left form button {
  padding: 10px 0;
  width: 98%;
  color: white;
  background-color: var(--colorMain);
  border: 0;
  outline: 0;
  border-radius: 3px;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial;
}
.signupContainer .container .left form p {
  font-size: 14px;
  padding: 0.7rem 0;
}
.signupContainer .container .left form p span {
  color: blue;
  cursor: pointer;
}
.signupContainer .container .right {
  width: 40%;
  height: 100%;
  background-color: var(--colorMain);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.signupContainer .container .right img {
  margin-right: 1rem;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2666666667);
}
.container .sidenav {
  width: 23vw;
  height: 100%;
  background-color: var(--sideNavColor);
  overflow-x: hidden;
  overflow-y: scroll;
}
.container .sidenav::-webkit-scrollbar {
  width: 5px;
}
.container .sidenav::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2666666667);
}
.container .sidenav .logoDiv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial;
  margin: 1.8rem auto;
}
.container .sidenav .logoDiv img {
  width: 70%;
  height: 70%;
}
.container .sidenav .logoDiv h1 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.container .sidenav .sideOption {
  color: white;
  font-family: Arial;
  padding: 1.3rem 2.6rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.container .sidenav .sideOption i {
  margin-right: 1rem;
  font-size: 1.7rem;
}
.container .sidenav .sideOption:hover {
  background-color: var(--hoverInDark);
}
.container .mainContainer {
  width: 77vw;
  height: 100%;
  background-color: var(--lightModeBg);
}
.container .mainContainer .header {
  padding: 0.5rem 1.3rem;
  box-shadow: 0 0 5px 1px rgba(68, 68, 68, 0.1333333333);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .mainContainer .header img {
  width: 3rem;
  height: 3rem;
  display: none;
}
.container .mainContainer .header form {
  display: flex;
}
.container .mainContainer .header form input {
  width: 15rem;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  font-family: Arial;
  font-weight: 200;
  margin: 0 5px;
  border: 0;
  background-color: var(--lightModeBg);
}
.container .mainContainer .header form button {
  color: white;
  background-color: var(--colorMain);
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: Arial;
}
.container .mainContainer .header .rightDiv {
  display: flex;
  align-items: center;
  height: 100%;
}
.container .mainContainer .header .rightDiv .imageBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.container .mainContainer .header .rightDiv .imageBox .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--lightModeBg);
}
.container .mainContainer .header .rightDiv .imageBox i {
  padding: 0;
}
.container .mainContainer .header .rightDiv .imageBox .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.2s ease-in;
  max-height: 25rem;
}
.container .mainContainer .header .rightDiv .imageBox .dropdown::-webkit-scrollbar {
  display: block;
  width: 2px;
  background-color: rgba(51, 51, 51, 0.1333333333);
}
.container .mainContainer .header .rightDiv .imageBox .dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.1333333333);
}
.container .mainContainer .header .rightDiv .imageBox .dropdown p {
  font-weight: normal;
}
.container .mainContainer .header .rightDiv .imageBox .dropdown p i {
  font-size: 1.2rem;
}
.container .mainContainer .header .rightDiv .imageBox .dropdown .options {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: 0.2s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--fontColor);
}
.container .mainContainer .header .rightDiv .imageBox .dropdown .options:hover {
  background-color: var(--lightModeBg);
}
.container .mainContainer .header .rightDiv p {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--fontColor);
  padding: 0 10px;
}
.container .mainContainer .header .rightDiv i {
  color: var(--fontColor);
  margin: 0 5px;
  font-size: 1.4rem;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .mainContainer .mainContent {
  height: calc(100vh - 108px);
  background-color: transparent;
}
.container .mainContainer .dashboard {
  padding: 1rem 3rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container .mainContainer .dashboard::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(85, 85, 85, 0.2);
}
.container .mainContainer .dashboard::-webkit-scrollbar-thumb {
  background-color: var(--dashGray);
}
.container .mainContainer .dashboard .welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .mainContainer .dashboard .welcome .welcomeMsg {
  background-color: white;
  max-width: 30rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0.8rem 0;
  overflow: hidden;
}
.container .mainContainer .dashboard .welcome .welcomeMsg .message p {
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
.container .mainContainer .dashboard .welcome .welcomeMsg .message p span {
  font-weight: normal;
  font-size: 1rem;
}
.container .mainContainer .dashboard .welcome .welcomeMsg .message .viewAll {
  text-decoration: none;
  color: black;
  background-color: var(--yellow);
  text-align: center;
  padding: 0.7rem 1.5rem;
  font-family: Arial;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: 600;
}
.container .mainContainer .dashboard .welcome .welcomeMsg .image {
  width: 8rem;
  height: 8rem;
  margin: 0 0 0 2rem;
}
.container .mainContainer .dashboard .welcome .welcomeMsg .image img {
  width: 100%;
  height: 100%;
}
.container .mainContainer .dashboard .welcome .create {
  color: #ffcc00;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 6rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px dashed #ffcc00;
  margin: 0.5rem 0;
}
.container .mainContainer .dashboard .welcome .create i {
  padding: 15px;
  border: 1.5px solid #ffcc00;
  display: flex;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
}
.container .mainContainer .dashboard .counts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .mainContainer .dashboard .counts .cards {
  background-color: white;
  padding: 2rem 1rem;
  width: 16.6rem;
  margin: 0.5rem;
  display: flex;
  font-family: Arial;
  align-items: center;
  border-radius: 5px;
}
.container .mainContainer .dashboard .counts .cards .imageDiv {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.container .mainContainer .dashboard .counts .cards .text {
  padding: 0 1rem;
}
.container .mainContainer .dashboard .counts .cards .text h1, .container .mainContainer .dashboard .counts .cards .text p {
  padding: 0;
  margin: 0;
}
.container .mainContainer .dashboard .counts .cards .text p {
  font-weight: 600;
}

@media screen and (max-width: 792px) {
  .homeTopper ul, .homeTopper .actionButtons {
    display: none;
  }
  .homeTopper .navBtn {
    display: block;
  }
  .introSection .introContent {
    height: 85vh;
    padding: 3rem 0;
  }
  .introSection .right {
    display: none;
  }
  .introSection .left {
    width: 100vw;
    padding: 0 3rem;
  }
  .aboutSection .aboutContent {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 8rem 0;
  }
  .aboutSection .left {
    display: none;
  }
  .aboutSection .right {
    width: 100vw;
    padding: 0 3rem;
  }
  .aboutSection .right h2 {
    line-height: 0px;
  }
  .supportSection {
    justify-content: center;
    align-items: center;
  }
  .supportSection .supportContent {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .supportSection .right {
    display: none;
  }
  .supportSection .left {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .supportSection .left form {
    width: 17rem;
  }
}
@media screen and (max-width: 550px) {
  .homeTopper {
    padding: 0.5rem;
  }
  .introSection .left {
    padding: 0 1rem;
  }
  .introSection .left h1 {
    font-size: 2.5rem;
  }
  .introSection .left p {
    font-size: 0.9rem;
  }
  .aboutSection .right {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 630px) {
  .loginContainer .container .right {
    width: 100%;
  }
  .loginContainer .container .left {
    display: none;
  }
  .signupContainer .container .right {
    display: none;
  }
  .signupContainer .container .left {
    width: 100%;
  }
  .signupContainer .container .left form {
    width: 90%;
  }
}
@media screen and (max-width: 1025px) {
  .container .sidenav {
    display: none;
  }
  .container .mainContainer {
    width: 100vw;
  }
}
@media screen and (max-width: 869px) {
  .container .mainContainer .header img {
    display: block;
  }
  .container .mainContainer .header form {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .container .mainContainer .header {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 980px) {
  .container .mainContainer .dashboard .welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .mainContainer .dashboard .welcome .welcomeMsg .message p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 490px) {
  .container .mainContainer .dashboard {
    padding: 1rem;
  }
  .container .mainContainer .dashboard .welcome .welcomeMsg {
    width: 90%;
    padding: 1rem 1rem;
  }
  .container .mainContainer .dashboard .welcome .welcomeMsg .image {
    display: none;
  }
  .container .mainContainer .dashboard .welcome .create {
    padding: 1rem 5rem;
  }
  .container .mainContainer .dashboard .welcome .create p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=index.css.map */